body {
    font-family: sans-serif;
}

.form-container {
    padding: 3vw 5vw;
    border-radius: 5px;
    background: white;
    margin-top: 5vw;
    background: white !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
}

.danger-color {
    background-color: #dc3545;
}

.card-body {
    background: white !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
}

.card {
    padding: 2vw;
    background: none;
    border: none;
    text-align: center;
}

.submit-form {
    margin: 0 auto;
    display: block;
}

.btn-outline-secondary {
    color: #cdd4d9 !important;
    border-color: #ccd4d9 !important;
}

.btn-outline-success {
    color: #e83f40 !important;
    border-color: #e83f40 !important;
}